
<h1>게시판</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>No</th>
            <th>Title</th>
            <th>Writer</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td>@note.No</td>
                <td>@note.Title</td>
                <td>@note.UserNo</td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-warning" asp-controller="Note" asp-action="Add">Add Note</a>
